<!DOCTYPE html>
    <head>
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/tableStyle.css">
    </head>

    <body>
    <%- table %>
    <div> The total number of participants is <%- total %> <div>
    <a href='http://localhost:3000/downloadList'>Download Excel</a>

    </body>
</html>
